*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;

}
.card-1{
    width: 350px;
}
