
 /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 */
@font-face {
    font-family: abcdef;
    src: url("./Roboto-Medium.ttf");
}



body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

div{
    font-size:70px;
    /* font-weight: lighter;
    font-style: italic;
    font-variant: small-caps; */
      font-family:abcdef;
}  